html {
  font-size: 16px;
}
body {
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/055/483/277/large/ajay-sasan-isra-00666.jpg?1667056012');
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  overflow: hidden; 
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
  color: whitesmoke;
}
a {
  color: whitesmoke;
  text-decoration: none; 
}
a:hover {
  color: goldenrod;
}
a:focus {
  color: slategray;
}
a:active {
  color: darkslategray;
}

/*Title*/

h1 {
  font-weight: normal;
  font-family: "aviano-royale", serif;
  font-size: 8em;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}
h1 a:hover {
  transform: translate(-5px) scale(1.05);
  transition: transform 0.3s ease;
}
h2 {
  font-family: "aviano-royale", serif;
  opacity: 0.75;
  font-size: 1.75rem;
  padding-left: 20px;
  padding-right: 20px;
}
#Ajay-Sasan, #sculpter, .website_links, .social_media {
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  top: 300px;
}





/*Social_Media*/



.artstation,
.instagram,
.linkedin {
  width: 30px; 
  filter: invert(100%);
  padding:  20px;
  margin: 5px;
  display: inline-block;
  flex-direction: row; 
}
.social_media a:hover img {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}
.social_media a:focus img {
  border: 2px dashed rgb(32, 218, 156);
  outline: none;
}

/*Website_Links*/

nav.website_links {
  width: 100%;
}
.website_links li:hover {
  transform: translateY(-6px);
  transition: transform 0.3s ease;
}
nav.website_links li {
  padding: 25px;
  font-family:"aviano";
  white-space: nowrap;
  font-size: 1.25rem;
  list-style-type: none;
  display: inline-block;
}
.website_links li a:hover {
  color: goldenrod;
}
.website_links li a:focus {
  color: slategray;
}
.website_links li a:active {
  color: darkslategray;
}

/*Footer*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  }
nav.contact a {
    color: rgba(245, 245, 245, 0.705);
}
nav.contact a:hover {
  color: goldenrod;
}
nav.contact li {
    display: inline-block;
    padding: 0 55px;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.705);
    opacity: 0.7;
    font-family:"aviano"; 
    list-style-type: none;   
  }
nav.contact {
  display: block;
  white-space: nowrap;
}


@media only screen and (min-width: 320px) and (max-width: 835px) {

  #Ajay-Sasan, #sculpter, .website_links, .social_media {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    top: 140px;  
  }
  footer  {
    display: none;
  }
}
